houndify_python3_sdk_0.6.0/
snowboy/
copy_to_pi.sh
data/terminal_shortcuts.txt
data/sound_settings.txt
src/client_defines.py
recordings/
android/.gitignore
android/*.iml
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild
android/app/libs/
android/app/app-release.apk